.bgi {
    height: 150px;
    padding-block-start: 30px;
}

.images {
    width: 10px;
    height: auto;
}

.top-buffer {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 200px;
}

.star-rating {
    line-height: 32px;
    font-size: 1.25em;
}

.star-rating .fa-star {
    color: yellow;
}

.ratebtn {
    size: 5px;
    padding: 0%;
    float: right;
}